/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-08-13, 13:57:30
    Author     : 199364921
*/

        /*
		codes couleur:
			#2E1C08 = brun foncé
			#63100F = bourgogne
			#FFA420 = ocre
			#FFD133 = jaune foncé
			#FFEDD0 = beige
		*/

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-color: #FFEDD0;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: auto !important;
	height: 100%;
	line-height: 1.6em;
	min-height: 100%;
	width: 100%;
	color: #2E1C08;
}
[class="page"]{
        border-bottom-width: 6px;  
        border-bottom-color:#63100F ; 
        border-bottom-style: groove;  
}

h1 {
	color: #2E1C08;
	margin: 10px;
}

h2 {
	color: #FFEDD0;
	font-size: 2.2em;	
	font-weight: 200;
	margin: 0 0 24px 0;
}

/* div#page_tables {
	height: auto !important;
	height:100%;
	min-height: 100%;
} */

.table, .section {
	display:inline-block;
	width:100%;
	height:55px;
	background-color:#63100F;
	color:#FFEDD0;
	padding-top:3px;
	padding-bottom:2px;
    border-bottom-width: 4px;  
    border-bottom-color: #2E1C08;  
    border-bottom-style: groove;
    border-radius: 10px;
}

/*Table test

 
    //position: absolute;
    //right: 20px;
    //width: 40px;
    //background-color: #b0e0e6;
    
    
    
    //text-align: 20%; 
     //text-align: right;
    //margin-left: auto;
    //margin-right: auto;
       // margin: auto;
       // width: 40%, 30%;
    
    //padding-right: 40%;
    
 // border: 2px solid #a1a1a1;
    //padding: 2px 20px; 
    //background: #dddddd;
    //width: 300px;
*/

tr{
   table-layout: fixed;
    width: 20px; 
    
}
/* Affect la table X*/
[class="ligne_table"]{
    display: inline-block;
    padding-left:4%; 
    /*padding-right:4%;*/
}

[class="table"]{
    
}

.td_increment{ 
	width: 40%;
}
/*.numero_table{
    width: 80%;
}*/
/*[class="pastille_table"]{
   
    	//color: #2E1C08;
       // font-weight: bold;
         font-style: italic;
         
         text-align: center;
    color: red;
}*/

/*#pastille_table_1{
    color:blue;font-weight:bold;
   text-align: center;
    
}*/
.cercle{
	background:#FFA420;
	border-radius:50%;
	width:25px;
	height:25px;
	border:2px solid #2E1C08;
	color: #2E1C08;
	font-weight: bold;
	font-style: italic;
}

/*
.maclasse{
 box-shadow: 1px 1px 6px #555 ;
 -moz-box-shadow:1px 1px 6px #555 ;
 -webkit-box-shadow:1px 1px 6px #555 ;
}

*/
/* Affecte toute la barre facture sous table */
[class="barre_facture"]{
    width:40%;
    display: inline-block; 
	padding-left:10%;
	height:100%;
	width:100%;
    background-color:#FFEDD0;
	color:#2E1C08;
    border-bottom-width: 2px;  
    border-bottom-color: #2E1C08;  
    border-bottom-style: solid; 
    padding-top:2%;
    margin-right: 2px;
}

/*background-color:#FFD133;*/
/*[class="entete_commande"]{
   display: block;
	padding-left:10%;
	height:100%;
	width:100%;
	background-color:#FFD133;
	color:#2E1C08; 
}*/


.barre_item{
	padding-left:10%;
	margin-bottom:5%;
	height: 100%;
}

.menu_item{
	width:90%;
	background-color:#FFEDD0;
	color:#2E1C08;
}

.menu_boutons{
	width: 40%;
}

p {
	display: block;
	padding-left:10%;
	height:100%;
	width:100%;
	background-color:#FFD133;
	color:#2E1C08;
}

/*il{
table-layout: fixed;
width: 50%;
}*/

/* Ligne facture x*/
[class="nom_facture"]{
    width: available;
    display: inline;
    margin-top: 5%;
	font-weight: bold;
}


/* Facture : heure, table, facture. bouton: <, cuisine, facture*/
.entete_datestamp{
font-weight:bold;
}


/*BUTTON DESIGN*/
[class*='btn_'] {
	border: 1px solid #FFA420;
	background-color: #63100F;
	border-bottom: 2px solid #FFA420 ;
	border-radius: 4px;
	color: #FFEDD0;
	display: inline-block;
	font: -webkit-small-control;
	font-size: .7em;
	letter-spacing: 1px;
	line-height: 85%;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 0 1px 1px #2E1C08;
	text-transform: uppercase;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.btn_facture_plus { 
    float:right;
    padding: 4px 5px;
    font-size: 1.0em;
}

.btn_plus,
.btn_moins, .btn_plus_menu, .btn_moins_menu{
	padding: 5px 10px;
	font-size: 1.0em;
}
	
	
/*	bar_btn_page_commande */
	#bar_btn_page_commande{
		width;75%;
		display:inline-block}
	
	#btn_retour_table{
		width;18%;
		border-radius: 30px 0px 0px 30px;}
    #btn_confirmation{
		width;18%;
		border-radius: 0px 0px 0px 0px;}
	#btn_facture_commande{width;18%;border-radius: 0px 0px 0px 0px;}
	#btn_bar{width;18%;border-radius: 0px 30px 30px 0px;}
	
/* Fin bar_btn_page_commande */	
	
	
	
/* bar_btn_page_confirmation */
#bar_btn_page_confirmation{}	
#btn_retour_commande{
	width:25%;
	
	border-radius: 30px 0px 0px 30px;}
#btn_cuisine{
	width:25%;
	border-radius: 0px 0px 0px 0px;}
#btn_facture_confirmation{
	width:25%;
	border-radius: 0px 30px 30px 0px;}
/* Fin bar_btn_page_confirmation */	
	
	




/* bar_btn_page_facture */
#bar_btn_page_facture{
	width:75%;
	margin:0 auto;
	//display:inline-block;
}
#btn_retour_confirmation{
	width:38%;
	border-radius: 30px 0px 0px 30px;}
#btn_facture_payee{
	width:38%;
	border-radius: 0px 30px 30px 0px;}
/* Fin bar_btn_page_facture */




#btn_quitter{
	//display:inline-block;
	width:75%;
	margin:0 auto;
	border-radius: 30px 30px 30px 30px;
	//border-radius: 30px;
	display:block;
	
}


	[class*='btn_']:hover {
		background-color: #FFA420;
		border: 1px solid #2E1C08;
		border-bottom: 2px solid #FFEDD0;
		border-top: 1px solid #FFEDD0;
		color: #2E1C08;
		cursor: pointer;
		text-shadow: 0 1px 1px #2E1C08;
	}
		[class*='btn_']:active {
			box-shadow: 0 1px 1px #2E1C08 inset;
			text-shadow: 0 -1px 1px #2E1C08;
			border-bottom: 2px solid #FFEDD0;
			border-top: 1px solid #FFEDD0;
			background:#FFD133;
			color:#FFD133;
		}
                
           [class="btn_bar"]     {
                //display:block; 
                width:30%; 
                margin:0 auto; 
                //border-radius: 30px;
           }

/*SECTION CONTAINER*/
section#loginBox {
	background-color: #63100F;
	border: 1px solid #2E1C08;
	border-radius: 6px;
	box-shadow: 0 1px 0 #2E1C08 inset, 0 0 4px #2E1C08;
	margin: 40px auto; /*aligns center*/
	padding: 24px;
	width: 100%;
}

/*FORM*/
form.login_form label {
	display: block;
	margin: 6px 0;
	color: #FFD133;
       
}

::-webkit-input-placeholder {
   color: #2E1C08;
}

:-o-input-placeholder {
   color: #2E1C08;
}

	form.login_form input[type="text"],
	form.login_form input[type="email"],
	form.login_form input[type="number"],
	form.login_form input[type="search"],
	form.login_form input[type="password"],
	form.login_form textarea {
		background-color: #FFEDD0;
		color: #2E1C08;
		border: 1px solid #2E1C08;
		border-radius: 3px;
        box-shadow: inset 0 1px 2px #FFA420;
		display: block;
		font-size: 14px;
		margin: 6px 0 12px 0;
		padding: 8px;	
		text-shadow: 0 1px 1px #2E1C08;
		width: 100%;
		
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		  transition: all 0.1s linear;
	}
	
	form.login_form input[type="text"]:focus,
	form.login_form input[type="email"]:focus,
	form.login_form input[type="number"]:focus,
	form.login_form input[type="search"]:focus,
	form.login_form input[type="password"]:focus,
	form.login_form textarea:focus,
	form.login_form select:focus { 
		border-color: #FFD133;
		border-radius: 3px;
		-webkit-box-shadow: inset 0 1px 2px #2E1C08, 0 0 8px #FFEDD0;
		-moz-box-shadow: inset 0 1px 2px #2E1C08, 0 0 8px #FFEDD0;
		box-shadow: inset 0 1px 2px #2E1C08, 0 0 8px #FFEDD0;
		color: #2E1C08;
	}
	
		form.login_form input[type="text"]:invalid:focus,
		form.login_form input[type="email"]:invalid:focus,
		form.login_form input[type="number"]:invalid:focus,
		form.login_form input[type="search"]:invalid:focus,
		form.login_form input[type="password"]:invalid:focus,
		form.login_form textarea:invalid:focus,
		form.login_form select:invalid:focus { 
			border-radius: 3px;
			border-color: #2E1C08;
			-webkit-box-shadow: inset 0 1px 2px #FFEDD0, 0 0 8px #2E1C08;
			-moz-box-shadow: inset 0 1px 2px #FFEDD0, 0 0 8px #2E1C08;
			  box-shadow: inset 0 1px 2px #FFEDD0, 0 0 8px #2E1C08;
		}
 .espace{
    width: 30%;
 }

.espace_menu{
	width: 90%;
} 
.siege, .quantite {
	width:18%;
}

.siege:disabled , .quantite:disabled{
	font-weight: bold;
	text-align: center;
}
                               
.increment_quantite {
	width:10%;
}

/*Message d'erreur'*/ /*hidden ou none*/
[class="message_erreur"] {
    text-align: center;
    font-weight: bold;
    color: #63100F;
        
}

[class="testtable"]{
   // position:relative;
    
}
[class="testBoutton"]{
    // position:absolute; right:0;
    border: 1px solid #FFA420;
	background-color: #63100F;
	border-bottom: 2px solid #FFA420 ;
	border-radius: 4px;
	color: #FFEDD0;
	display: inline-block;
	font: -webkit-small-control;
	font-size: .7em;
	letter-spacing: 1px;
	line-height: 85%;
	padding: 10px 10px;
	text-decoration: none;
	text-shadow: 0 1px 1px #2E1C08;
	text-transform: uppercase;
	
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	  transition: all 0.1s linear;
    
     float:right;
    
    
   
    
}
[class="message"]{
	float: center; 
    margin: auto;
    width: 50%;
    background-color: #FFA420;
}
/*.btn_facture_plus 
    float:right;

*/